@charset "UTF-8";

body {
  width: 98%;
  margin: 0;
  margin-left: 1%;
  background: #1B1B1B;
  color: #BBB;
  font-size: 0.9em;
  font-family: Whitney, "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Osaka, "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00a0e9;
  text-decoration: none;
  font-weight: 900;
}

h1 {
  text-align: center;
}

#main_conttt {
  list-style-type: none;
}

#list {
  color: #FFF;
  margin: 5px 0;
  padding: 3px 10px 0 10px;
  border: none;
  border-top: solid 1px #444;
  word-break: break-all;
}

#list2 {
  color: #FFF;
  margin: 5px 0;
  padding: 3px 10px 0 10px;
  border: solid 1px #00a0e9;
  word-break: break-all;
}

#user {
  color: #00a0e9;
  font-size: 0.7em;
}
#user:after {
  content: "\A";
  white-space: pre;
}

#date {
  margin-right: 0;
  font-size: 0.7em;
  color: #999;
}
#date::before {
  content: "\A";
  white-space: pre;
}

#input_area {
  position: relative;
}

#chat_content {
  font-family: inherit;
  width: calc(100% - 80px);
  padding: 5px;
  margin: 0;
  /* background: #0B0B0B; */
  background: #eee;
  color: #000;
  border: solid 1px #444;
  border-radius: 3px;
  height: 50px;
  resize: none;

  position: absolute;
  top: 10px;
}

#bbbutton {
  width: 64px;
  height: 58px;
  padding: 5px;
  margin: 0;
  font-size: 2em;
  font-weight: 100;
  background: #444;
  border: solid 1px #222;
  border-radius: 3px;
  color: #bbb;

  position: absolute;
  top: 11px;
  right: 0;
}

#main_contents {
  position: relative;
  top: 85px;
}

#update_notice {
  background: orange;
  color: #FFF;
  text-align: center;
  display: none;
}

#first_sc {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  background: #222;
  color: #aaa;
  text-align: center;
  /* display: none; */
}

#first_sc h1 {
  color: #FFF;
  font-size: 1.7em;
  font-weight: 100;
}

#user_name {
  padding: 10px 15px;
  font-size: 1.5em;
  margin-top: 20px;
  color: #FFF;
  background: #555;
  border: solid 1px #bbb;
  border-radius: 2px;
}

#submit_b {
  font-size: 1.5em;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
}

#setting {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #222;
  /* background: #1B1B1B; */
  color: #aaa;
  text-align: center;
}

#enter_setting {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  text-align: center;
}
#enter_setting p{
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 2em;
  z-index: 5;
}

#setting h2 {
  color: #FFF;
}
#user_name2 {
  padding: 10px 15px;
  font-size: 1.5em;
  color: #FFF;
  background: #555;
  border: solid 1px #bbb;
  border-radius: 2px;
}
#setting h3 {
  font-weight: 100;
  color: #bbb;
}
#setting p {
  color: #00a0e9;
}
.notice {
  padding: 10px;
  color: #00a0e9;
  font-size: 1.2em;
}